In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./10_Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [4]:
sub1 = df[df['Species']=='Iris-setosa']
sub1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
sub2 = df[df['Species']=='Iris-versicolor']
sub2.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor

In [6]:
subset1 = df.iloc[:,[0,5]]
subset1

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

In [7]:
subset2 = df.iloc[:,0:5]
subset2

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [8]:
merge1 = pd.merge(subset1, subset2, on='Id')
merge1

,Id,Species,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
0,1,Iris-setosa,5.1,3.5,1.4,0.2
1,2,Iris-setosa,4.9,3.0,1.4,0.2
2,3,Iris-setosa,4.7,3.2,1.3,0.2
3,4,Iris-setosa,4.6,3.1,1.5,0.2
4,5,Iris-setosa,5.0,3.6,1.4,0.2
...,...,...,...,...,...,...
145,146,Iris-virginica,6.7,3.0,5.2,2.3
146,147,Iris-virginica,6.3,2.5,5.0,1.9
147,148,Iris-virginica,6.5,3.0,5.2,2.0
148,149,Iris-virginica,6.2,3.4,5.4,2.3
149,150,Iris-virginica,5.9,3.0,5.1,1.8

In [9]:
sorted = df.sort_values(by=['PetalLengthCm'], ascending=False)
sorted

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
118,119,7.7,2.6,6.9,2.3,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
...,...,...,...,...,...,...
36,37,5.5,3.5,1.3,0.2,Iris-setosa
35,36,5.0,3.2,1.2,0.2,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa

In [10]:
transpose = df.transpose()
transpose

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
Id,1,2,3,4,5,6,7,8,9,10,...,141,142,143,144,145,146,147,148,149,150
SepalLengthCm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidthCm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLengthCm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidthCm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [13]:
melted_df = df.melt(id_vars='Id', value_vars=['Species','PetalWidthCm'])
melted_df

      Id      variable        value
0      1       Species  Iris-setosa
1      2       Species  Iris-setosa
2      3       Species  Iris-setosa
3      4       Species  Iris-setosa
4      5       Species  Iris-setosa
..   ...           ...          ...
295  146  PetalWidthCm          2.3
296  147  PetalWidthCm          1.9
297  148  PetalWidthCm          2.0
298  149  PetalWidthCm          2.3
299  150  PetalWidthCm          1.8

[300 rows x 3 columns]

In [17]:
pivoted_df = df.pivot(index='Id',columns=['Species'])
pivoted_df

        SepalLengthCm                                SepalWidthCm  \
Species   Iris-setosa Iris-versicolor Iris-virginica  Iris-setosa
Id
1                 5.1             NaN            NaN          3.5
2                 4.9             NaN            NaN          3.0
3                 4.7             NaN            NaN          3.2
4                 4.6             NaN            NaN          3.1
5                 5.0             NaN            NaN          3.6
..                ...             ...            ...          ...
146               NaN             NaN            6.7          NaN
147               NaN             NaN            6.3          NaN
148               NaN             NaN            6.5          NaN
149               NaN             NaN            6.2          NaN
150               NaN             NaN            5.9          NaN

                                       PetalLengthCm                  \
Species Iris-versicolor Iris-virginica   Iris-setosa Iris-versicolor
Id
1                   NaN            NaN           1.4             NaN
2                   NaN            NaN           1.4             NaN
3                   NaN            NaN           1.3             NaN
4                   NaN            NaN           1.5             NaN
5                   NaN            NaN           1.4             NaN
..                  ...            ...           ...             ...
146                 NaN            3.0           NaN             NaN
147                 NaN            2.5           NaN             NaN
148                 NaN            3.0           NaN             NaN
149                 NaN            3.4           NaN             NaN
150                 NaN            3.0           NaN             NaN

                       PetalWidthCm
Species Iris-virginica  Iris-setosa Iris-versicolor Iris-virginica
Id
1                  NaN          0.2             NaN            NaN
2                  NaN          0.2             NaN            NaN
3                  NaN          0.2             NaN            NaN
4                  NaN          0.2             NaN            NaN
5                  NaN          0.2             NaN            NaN
..                 ...          ...             ...            ...
146                5.2          NaN             NaN            2.3
147                5.0          NaN             NaN            1.9
148                5.2          NaN             NaN            2.0
149                5.4          NaN             NaN            2.3
150                5.1          NaN             NaN            1.8

[150 rows x 12 columns]